In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/ncaa-tourney-training-data/MVConfData.csv
/kaggle/input/ncaa-tourney-training-data/TourneyPredictorTrainingData.csv
/kaggle/input/ncaa-tourney-training-data/MAAConfData.csv
/kaggle/input/ncaa-tourney-training-data/TourneyFullData.csv
/kaggle/input/ncaa-tourney-training-data/WAConfData.csv
/kaggle/input/ncaa-tourney-training-data/SLandConfData.csv
/kaggle/input/ncaa-tourney-training-data/ACConfData.csv
/kaggle/input/ncaa-tourney-training-data/test2015.csv
/kaggle/input/ncaa-tourney-training-data/B12ConfData.csv
/kaggle/input/ncaa-tourney-training-data/MAConfData.csv
/kaggle/input/ncaa-tourney-training-data/Test2016.csv
/kaggle/input/ncaa-tourney-training-data/BEastConfData.csv
/kaggle/input/ncaa-tourney-training-data/Fieldof682023.csv
/kaggle/input/ncaa-tourney-training-data/OVConfData.csv
/kaggle/input/ncaa-tourney-training-data/SEConfData.csv
/kaggle/input/ncaa-tourney-training-data/IVYConfData.csv
/kaggle/input/ncaa-tourney-training-data/NEConfData.csv
/kaggle/input/ncaa-tourney-training-data/SumConfData.csv
/kaggle/input/ncaa-tourney-training-data/BSkyConfData.csv
/kaggle/input/ncaa-tourney-training-data/HorzConfData.csv
/kaggle/input/ncaa-tourney-training-data/MWConfData.csv
/kaggle/input/ncaa-tourney-training-data/SWAConfData.csv
/kaggle/input/ncaa-tourney-training-data/BigSthConfData.csv
/kaggle/input/ncaa-tourney-training-data/A10ConfData.csv
/kaggle/input/ncaa-tourney-training-data/B10ConfData.csv
/kaggle/input/ncaa-tourney-training-data/BWestConfData.csv
/kaggle/input/ncaa-tourney-training-data/CUSAConfData.csv
/kaggle/input/ncaa-tourney-training-data/ColonialConfData.csv
/kaggle/input/ncaa-tourney-training-data/AMERConfData.csv
/kaggle/input/ncaa-tourney-training-data/SouthernConfData.csv
/kaggle/input/ncaa-tourney-training-data/SBConfData.csv
/kaggle/input/ncaa-tourney-training-data/P12ConfData.csv
/kaggle/input/ncaa-tourney-training-data/WCConfData.csv
/kaggle/input/ncaa-tourney-training-data/ASUNConfData.csv
/kaggle/input/ncaa-tourney-training-data/MEAConfData.csv
/kaggle/input/ncaa-tourney-training-data/AmEastConfData.csv
/kaggle/input/ncaa-tourney-training-data/PatConfData.csv

In [2]:
# import all of the python modules/packages you'll need here
import matplotlib.pyplot as plt
import statistics
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn import neighbors
# ...

In [3]:
df = pd.read_csv('../input/ncaa-tourney-training-data/TourneyPredictorTrainingData.csv')
df

,Team,ADJOE,ADJDE,BARTHAG,W,G,EFG,EFGd,FTR,FTRD,...,2Pper,2PperD,3Pper,3PperD,ADJTEMP,Yr,WAB,BestPlyr,SigWARPlyr,AdvScore
0,Indiana,107.973,90.507,0.8838,20,33,51.3,45.6,33.5,30.6,...,51.4,43.4,33.9,32.6,68.2,2022,0.2242,5.2,3,0
1,Wright St.,104.209,106.863,0.4282,20,33,52.0,51.2,31.1,26.0,...,53.2,51.6,33.0,33.7,69.6,2022,-8.3947,4.3,3,0
2,UAB,111.104,98.065,0.8078,25,32,52.9,47.9,29.5,31.5,...,50.6,47.5,38.3,32.4,69.9,2022,-0.1033,4.7,4,0
3,Villanova,117.142,92.968,0.9345,26,33,52.0,47.5,30.5,25.1,...,50.3,48.2,35.9,31.0,63.6,2022,7.2884,5.7,6,15
4,Arizona,118.039,92.430,0.9433,31,34,55.9,44.4,35.1,22.8,...,57.5,41.9,35.4,32.7,73.4,2022,8.7612,4.6,6,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,North Carolina Central,101.818,100.759,0.5300,22,30,51.8,45.1,34.8,27.6,...,53.0,45.9,33.3,29.1,67.9,2017,-4.9820,2.9,2,-1
336,Arkansas,115.356,101.139,0.8194,25,34,51.5,48.2,38.8,39.3,...,50.2,47.2,36.4,33.2,70.9,2017,3.8886,3.7,5,1
337,Dayton,110.492,96.542,0.8252,23,30,54.2,47.7,43.7,34.6,...,51.8,47.2,38.7,32.4,69.8,2017,1.5564,3.6,5,0
338,USC,111.201,99.606,0.7801,24,33,51.9,49.7,37.2,23.9,...,50.5,46.8,36.3,36.5,70.5,2017,1.3601,4.0,4,1
339,Wichita St.,116.905,92.842,0.9340,29,33,54.7,43.9,40.9,35.2,...,51.0,42.3,40.7,31.0,70.5,2017,4.1891,3.9,5,1

In [4]:
df = df.drop(columns = ['Team', 'Yr']);
df

,ADJOE,ADJDE,BARTHAG,W,G,EFG,EFGd,FTR,FTRD,TOR,...,DRB,2Pper,2PperD,3Pper,3PperD,ADJTEMP,WAB,BestPlyr,SigWARPlyr,AdvScore
0,107.973,90.507,0.8838,20,33,51.3,45.6,33.5,30.6,17.3,...,25.0,51.4,43.4,33.9,32.6,68.2,0.2242,5.2,3,0
1,104.209,106.863,0.4282,20,33,52.0,51.2,31.1,26.0,17.9,...,30.0,53.2,51.6,33.0,33.7,69.6,-8.3947,4.3,3,0
2,111.104,98.065,0.8078,25,32,52.9,47.9,29.5,31.5,16.3,...,27.4,50.6,47.5,38.3,32.4,69.9,-0.1033,4.7,4,0
3,117.142,92.968,0.9345,26,33,52.0,47.5,30.5,25.1,15.5,...,28.0,50.3,48.2,35.9,31.0,63.6,7.2884,5.7,6,15
4,118.039,92.430,0.9433,31,34,55.9,44.4,35.1,22.8,18.0,...,28.3,57.5,41.9,35.4,32.7,73.4,8.7612,4.6,6,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,101.818,100.759,0.5300,22,30,51.8,45.1,34.8,27.6,17.9,...,31.4,53.0,45.9,33.3,29.1,67.9,-4.9820,2.9,2,-1
336,115.356,101.139,0.8194,25,34,51.5,48.2,38.8,39.3,16.4,...,33.5,50.2,47.2,36.4,33.2,70.9,3.8886,3.7,5,1
337,110.492,96.542,0.8252,23,30,54.2,47.7,43.7,34.6,17.1,...,27.0,51.8,47.2,38.7,32.4,69.8,1.5564,3.6,5,0
338,111.201,99.606,0.7801,24,33,51.9,49.7,37.2,23.9,15.7,...,31.2,50.5,46.8,36.3,36.5,70.5,1.3601,4.0,4,1
339,116.905,92.842,0.9340,29,33,54.7,43.9,40.9,35.2,15.9,...,24.2,51.0,42.3,40.7,31.0,70.5,4.1891,3.9,5,1

In [5]:
x = df.iloc[:,:-1].values
y = df.iloc[:,-1]
print(x)
print(y)

[[ 1.07973e+02  9.05070e+01  8.83800e-01 ...  2.24200e-01  5.20000e+00
   3.00000e+00]
 [ 1.04209e+02  1.06863e+02  4.28200e-01 ... -8.39470e+00  4.30000e+00
   3.00000e+00]
 [ 1.11104e+02  9.80650e+01  8.07800e-01 ... -1.03300e-01  4.70000e+00
   4.00000e+00]
 ...
 [ 1.10492e+02  9.65420e+01  8.25200e-01 ...  1.55640e+00  3.60000e+00
   5.00000e+00]
 [ 1.11201e+02  9.96060e+01  7.80100e-01 ...  1.36010e+00  4.00000e+00
   4.00000e+00]
 [ 1.16905e+02  9.28420e+01  9.34000e-01 ...  4.18910e+00  3.90000e+00
   5.00000e+00]]
0       0
1       0
2       0
3      15
4       3
       ..
335    -1
336     1
337     0
338     1
339     1
Name: AdvScore, Length: 340, dtype: int64

In [6]:
bay = linear_model.BayesianRidge()
bay.fit(x,y)
bay.coef_

array([ 0.23647511, -0.09262489, -0.00929986,  0.115362  , -0.05230843,
        0.09178218, -0.04771636, -0.06037631, -0.03239277,  0.0025837 ,
        0.11743912,  0.10707993,  0.0393229 ,  0.05448615,  0.03190894,
        0.0833718 , -0.10485273, -0.00044442,  0.16603072,  0.03704898,
       -0.01862687])

In [7]:
lars = linear_model.LassoLars(alpha=0.0001)
lars.fit(x,y)
lars.coef_

/opt/conda/lib/python3.7/site-packages/sklearn/linear_model/_base.py:138: FutureWarning: The default of 'normalize' will be set to False in version 1.2 and deprecated in version 1.4.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LassoLars())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to: original_alpha * np.sqrt(n_samples).
  FutureWarning,

array([ 1.47774726e+00, -1.42595844e+00, -6.52902676e+01,  2.36928141e-01,
       -1.73008390e-01,  4.32350865e-01, -2.56251438e+00, -1.18903680e-01,
        2.17448928e-02,  3.13936406e-01,  1.41302511e-01, -5.02859091e-02,
       -6.07558459e-02, -3.57166338e-01,  1.95092101e+00, -1.49614999e-01,
        1.32378054e+00,  2.21273032e-03,  1.92849122e-01,  1.15214900e-01,
       -4.68028683e-01])

In [8]:
n_neighbors = 20

for i, weights in enumerate(["uniform", "distance"]):
    knn = neighbors.KNeighborsRegressor(n_neighbors, weights=weights)
knn.fit(x,y)

KNeighborsRegressor(n_neighbors=20, weights='distance')

In [9]:
reg = linear_model.LinearRegression()
reg.fit(x,y)
reg.coef_

array([ 1.49032086e+00, -1.43567116e+00, -6.55608314e+01,  2.49122488e-01,
       -1.80069028e-01,  6.96178668e-01, -2.96490128e+00, -1.19662507e-01,
        2.35663005e-02,  3.24196594e-01,  1.39743947e-01, -5.44388112e-02,
       -6.52288172e-02, -5.32185938e-01,  2.20842959e+00, -3.06550396e-01,
        1.55098071e+00,  5.40730653e-03,  1.83244636e-01,  1.15335385e-01,
       -4.71641661e-01])

# ASUN 2023 Predictions

In [10]:
asun = pd.read_csv('../input/ncaa-tourney-training-data/ASUNConfData.csv')
asunTeams = asun.iloc[:,0]
asunTeams

0         North Florida
1                Queens
2               Liberty
3            Bellarmine
4         North Alabama
5      Eastern Kentucky
6               Stetson
7          Kennesaw St.
8    Florida Gulf Coast
9              Lipscomb
Name: Team, dtype: object

In [11]:
asun = asun.drop(columns = ['Team', 'Yr']);

In [12]:
asunBay = bay.predict(asun)
asunLars = lars.predict(asun)
asunKnn = knn.predict(asun)
asunReg = reg.predict(asun)
tableASUN = pd.DataFrame({'teams':asunTeams, 'Bay':asunBay, 'Lars':asunLars, 'KNN':asunKnn, 'Linear':asunReg})
tableASUN

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

                teams       Bay      Lars       KNN    Linear
0       North Florida -2.656322  0.667938  0.117053  0.729825
1              Queens -2.820564  0.475955 -0.049554  0.549241
2             Liberty  2.553954  0.838322  0.563722  0.762226
3          Bellarmine -4.900043  2.579029  0.063998  2.568725
4       North Alabama -3.771071 -0.077060  0.180634 -0.147748
5    Eastern Kentucky -1.643006 -0.841077 -0.022636 -0.862436
6             Stetson -0.138474  0.168782  0.264111  0.253585
7        Kennesaw St. -0.328536  0.855412  0.336117  0.858152
8  Florida Gulf Coast -2.259634  1.630892  0.146216  1.695332
9            Lipscomb -1.574739  0.494331  0.182375  0.457647

# Sun Belt 2023 Predictions

In [13]:
sunB = pd.read_csv('../input/ncaa-tourney-training-data/SBConfData.csv')
sunBTeams = sunB.iloc[:,0]
sunBTeams

0        Georgia Southern
1               Texas St.
2         Appalachian St.
3        Coastal Carolina
4        Louisiana Monroe
5           South Alabama
6           Southern Miss
7             Georgia St.
8     Louisiana Lafayette
9                Marshall
10          James Madison
11                   Troy
12           Arkansas St.
13           Old Dominion
Name: Team, dtype: object

In [14]:
sunB = sunB.drop(columns = ['Team', 'Yr']);

In [15]:
sunBBay = bay.predict(sunB)
sunBLars = lars.predict(sunB)
sunBKnn = knn.predict(sunB)
sunBReg = reg.predict(sunB)
tablesunB = pd.DataFrame({'teams':sunBTeams, 'Bay':sunBBay, 'Lars':sunBLars, 'KNN':sunBKnn, 'Linear':sunBReg})
tablesunB

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

                  teams       Bay      Lars       KNN    Linear
0      Georgia Southern -3.745540 -0.989720  0.285299 -0.955140
1             Texas St. -5.124916 -0.184335  0.162314 -0.054401
2       Appalachian St. -3.575092 -3.215593 -0.127779 -3.274624
3      Coastal Carolina -5.841655 -2.381031 -0.079977 -2.478821
4      Louisiana Monroe -6.694189  0.521173 -0.096087  0.520798
5         South Alabama -0.779138 -3.278069  0.432313 -3.515881
6         Southern Miss  1.622541 -0.490049  0.501106 -0.483630
7           Georgia St. -7.856434 -0.635752 -0.333029 -0.486797
8   Louisiana Lafayette  1.575224  0.369840  0.751736  0.527162
9              Marshall  3.089514 -0.462838  0.697511 -0.471635
10        James Madison  0.013056 -0.528954 -0.099738 -0.540036
11                 Troy -1.543011  0.062679  0.325963  0.021660
12         Arkansas St. -7.525825 -0.722723 -0.237996 -0.695662
13         Old Dominion -2.067622 -0.836928  0.286199 -0.850447

# Horizon League 2023 Predictions

In [16]:
horz = pd.read_csv('../input/ncaa-tourney-training-data/HorzConfData.csv')
horzTeams = horz.iloc[:,0]
horzTeams

0            Wright St.
1         Robert Morris
2            Fort Wayne
3         Cleveland St.
4     Northern Kentucky
5                 IUPUI
6             Milwaukee
7             Green Bay
8               Detroit
9        Youngstown St.
10              Oakland
Name: Team, dtype: object

In [17]:
horz = horz.drop(columns = ['Team', 'Yr']);

In [18]:
horzBay = bay.predict(horz)
horzLars = lars.predict(horz)
horzKnn = knn.predict(horz)
horzReg = reg.predict(horz)
tablehorz = pd.DataFrame({'teams':horzTeams, 'Bay':horzBay, 'Lars':horzLars, 'KNN':horzKnn, 'Linear':horzReg})
tablehorz

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

                teams        Bay      Lars       KNN    Linear
0          Wright St.  -1.894621  0.744351  0.299446  0.812136
1       Robert Morris  -4.713965  1.149767 -0.268340  1.269262
2          Fort Wayne  -3.109101  4.283592 -0.149984  4.351621
3       Cleveland St.  -0.794046 -0.272117 -0.206296 -0.198578
4   Northern Kentucky  -1.395541  1.013726  0.002419  0.967646
5               IUPUI -10.287591 -7.992955 -0.144184 -7.888935
6           Milwaukee  -1.391175  3.637148 -0.263048  3.655624
7           Green Bay -12.220690 -9.559079 -0.231680 -9.658834
8             Detroit  -2.184688 -0.570194  0.052552 -0.478028
9      Youngstown St.   1.528223  0.664329  0.332022  0.632442
10            Oakland  -5.343875 -1.304347 -0.066401 -1.381051

# Partiot League Predictions

In [19]:
pat = pd.read_csv('../input/ncaa-tourney-training-data/PatConfData.csv')
patTeams = pat.iloc[:,0]
patTeams

0             American
1            Lafayette
2               Lehigh
3                 Navy
4           Holy Cross
5             Bucknell
6    Boston University
7            Loyola MD
8                 Army
9              Colgate
Name: Team, dtype: object

In [20]:
pat = pat.drop(columns = ['Team', 'Yr']);

In [21]:
patBay = bay.predict(pat)
patLars = lars.predict(pat)
patKnn = knn.predict(pat)
patReg = reg.predict(pat)
tablepat = pd.DataFrame({'teams':patTeams, 'Bay':patBay, 'Lars':patLars, 'KNN':patKnn, 'Linear':patReg})
tablepat

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

               teams       Bay      Lars       KNN    Linear
0           American -3.932698  2.663421 -0.123498  2.773504
1          Lafayette -7.339186  0.739850 -0.221494  0.777616
2             Lehigh -5.248269  2.599963  0.054472  2.590557
3               Navy -1.537374  1.485963  0.055496  1.462329
4         Holy Cross -7.775917 -0.597663 -0.069345 -0.764526
5           Bucknell -6.484731 -0.500338 -0.181802 -0.464866
6  Boston University -6.134755  1.595765 -0.231031  1.661733
7          Loyola MD -5.951231  2.250853 -0.034586  2.267506
8               Army -3.400800  0.801304 -0.104591  0.816545
9            Colgate  2.032546 -0.415351  0.443468 -0.531242

# Ohio Valley Predictions 2023

In [22]:
ohio = pd.read_csv('../input/ncaa-tourney-training-data/OVConfData.csv')
ohioTeams = ohio.iloc[:,0]
ohioTeams

0          Tennessee Martin
1              Morehead St.
2          Eastern Illinois
3            Tennessee Tech
4          SIU Edwardsville
5                Lindenwood
6          Southern Indiana
7    Southeast Missouri St.
8               Little Rock
9             Tennessee St.
Name: Team, dtype: object

In [23]:
ohio = ohio.drop(columns = ['Team', 'Yr']);

In [24]:
ohioBay = bay.predict(ohio)
ohioLars = lars.predict(ohio)
ohioKnn = knn.predict(ohio)
ohioReg = reg.predict(ohio)
tableohio = pd.DataFrame({'teams':ohioTeams, 'Bay':ohioBay, 'Lars':ohioLars, 'KNN':ohioKnn, 'Linear':ohioReg})
tableohio

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

                    teams       Bay      Lars       KNN    Linear
0        Tennessee Martin -4.387742  0.810196 -0.182218  0.865385
1            Morehead St. -2.897604  1.485186 -0.048626  1.485027
2        Eastern Illinois -8.877429 -3.105678 -0.243587 -3.174172
3          Tennessee Tech -4.637002  1.344695  0.006909  1.457557
4        SIU Edwardsville -4.555438  1.096480 -0.268744  1.147615
5              Lindenwood -7.793451 -1.298093 -0.023785 -1.387128
6        Southern Indiana -4.331071  0.398829 -0.169900  0.496832
7  Southeast Missouri St. -6.190211  0.796858 -0.079189  0.846341
8             Little Rock -7.367438 -2.227718 -0.074814 -2.246852
9           Tennessee St. -4.729188  0.860620 -0.016002  0.892236

# Northeast 2023 Predictions

In [25]:
ne = pd.read_csv('../input/ncaa-tourney-training-data/NEConfData.csv')
neTeams = ne.iloc[:,0]
neTeams

0         St. Francis NY
1         St. Francis PA
2    Fairleigh Dickinson
3                 Wagner
4    Central Connecticut
5              Stonehill
6           LIU Brooklyn
7              Merrimack
8           Sacred Heart
Name: Team, dtype: object

In [26]:
ne = ne.drop(columns = ['Team', 'Yr']);

In [27]:
neBay = bay.predict(ne)
neLars = lars.predict(ne)
neKnn = knn.predict(ne)
neReg = reg.predict(ne)
tablene = pd.DataFrame({'teams':neTeams, 'Bay':neBay, 'Lars':neLars, 'KNN':neKnn, 'Linear':neReg})
tablene

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

                 teams        Bay       Lars       KNN     Linear
0       St. Francis NY  -7.979287   0.462948 -0.276012   0.761875
1       St. Francis PA  -5.971874  -1.214285 -0.023021  -1.301232
2  Fairleigh Dickinson  -3.585856   1.248308  0.042913   1.250811
3               Wagner  -5.321950   4.426009  0.459553   4.466009
4  Central Connecticut  -7.524319  -2.768851 -0.105295  -2.793190
5            Stonehill  -6.786911   0.016162 -0.161491  -0.030251
6         LIU Brooklyn -13.281134 -15.204725 -0.136249 -15.390829
7            Merrimack  -6.431311   3.043462 -0.291417   3.080119
8         Sacred Heart  -5.995073  -0.686898 -0.246175  -0.711635

# Big South 2023 Predictions

In [28]:
south = pd.read_csv('../input/ncaa-tourney-training-data/BigSthConfData.csv')
southTeams = south.iloc[:,0]
southTeams

0               Winthrop
1           Gardner Webb
2           Presbyterian
3    Charleston Southern
4               Campbell
5            USC Upstate
6             High Point
7                Radford
8          UNC Asheville
9               Longwood
Name: Team, dtype: object

In [29]:
south = south.drop(columns = ['Team', 'Yr']);

In [30]:
southBay = bay.predict(south)
southLars = lars.predict(south)
southKnn = knn.predict(south)
southReg = reg.predict(south)
tablesouth = pd.DataFrame({'teams':southTeams, 'Bay':southBay, 'Lars':southLars, 'KNN':southKnn, 'Linear':southReg})
tablesouth

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

                 teams        Bay      Lars       KNN    Linear
0             Winthrop  -3.117951  0.438042  0.070818  0.467728
1         Gardner Webb  -4.450783 -0.371508  0.178501 -0.357197
2         Presbyterian -10.672112 -4.167460 -0.330224 -4.117051
3  Charleston Southern  -5.019440 -0.702433 -0.010746 -0.751347
4             Campbell  -5.014778 -0.001518 -0.205584 -0.010019
5          USC Upstate  -4.654897  2.582212 -0.063330  2.610887
6           High Point  -5.343465 -0.097559 -0.335285 -0.109154
7              Radford  -1.851039  1.666707 -0.124047  1.651417
8        UNC Asheville  -0.119598  2.619992 -0.092335  2.549714
9             Longwood  -1.398510 -0.142381  0.055359 -0.177161

# West Coast 2023 Predictions

In [31]:
westc = pd.read_csv('../input/ncaa-tourney-training-data/WCConfData.csv')
westcTeams = westc.iloc[:,0]
westcTeams

0                 BYU
1           San Diego
2             Pacific
3          Pepperdine
4        Saint Mary's
5         Santa Clara
6    Loyola Marymount
7            Portland
8       San Francisco
9             Gonzaga
Name: Team, dtype: object

In [32]:
westc = westc.drop(columns = ['Team', 'Yr']);

In [33]:
westcBay = bay.predict(westc)
westcLars = lars.predict(westc)
westcKnn = knn.predict(westc)
westcReg = reg.predict(westc)
tablewestc = pd.DataFrame({'teams':westcTeams, 'Bay':westcBay, 'Lars':westcLars, 'KNN':westcKnn, 'Linear':westcReg})
tablewestc

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

              teams       Bay      Lars       KNN    Linear
0               BYU -0.534871 -2.121909  0.501526 -2.104473
1         San Diego -4.044284 -1.113541  0.120983 -1.176810
2           Pacific -2.871103  0.816879  0.445588  0.895682
3        Pepperdine -4.138215 -0.790418  0.106410 -0.798961
4      Saint Mary's  5.017695  6.710460  3.024089  6.805993
5       Santa Clara  2.206279  0.363907  2.983353  0.315943
6  Loyola Marymount  0.169885  1.117116  0.385173  1.126838
7          Portland -3.494663 -3.117153 -0.012456 -3.201564
8     San Francisco  0.008383 -0.571918  0.337299 -0.512008
9           Gonzaga  7.252135  9.177269  5.289656  9.234491

# Missouri Valley 2023 Predictions

In [34]:
missv = pd.read_csv('../input/ncaa-tourney-training-data/MVConfData.csv')
missvTeams = missv.iloc[:,0]
missvTeams

0      Illinois Chicago
1          Missouri St.
2            Murray St.
3     Southern Illinois
4            Valparaiso
5            Evansville
6         Northern Iowa
7           Indiana St.
8                 Drake
9               Bradley
10              Belmont
11         Illinois St.
Name: Team, dtype: object

In [35]:
missv = missv.drop(columns = ['Team', 'Yr']);

In [36]:
missvBay = bay.predict(missv)
missvLars = lars.predict(missv)
missvKnn = knn.predict(missv)
missvReg = reg.predict(missv)
tablemissv = pd.DataFrame({'teams':missvTeams, 'Bay':missvBay, 'Lars':missvLars, 'KNN':missvKnn, 'Linear':missvReg})
tablemissv

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

                teams        Bay      Lars       KNN    Linear
0    Illinois Chicago  -6.457945  0.758515 -0.036596  0.842115
1        Missouri St.  -1.303039  0.231536 -0.197968  0.207629
2          Murray St.  -3.301056  1.089266 -0.096322  1.167193
3   Southern Illinois  -1.114496  0.336108  0.101263  0.161702
4          Valparaiso  -6.649143  0.182870 -0.031447  0.217529
5          Evansville -11.226231 -3.359693 -0.219338 -3.402058
6       Northern Iowa  -4.544517  0.587708 -0.091408  0.571093
7         Indiana St.  -0.091150 -2.635054  0.142533 -2.791227
8               Drake   1.722147  0.617438  0.340442  0.671988
9             Bradley   2.319118  0.242960  0.375074  0.250231
10            Belmont   1.009383  0.453922  0.643256  0.519635
11       Illinois St.  -5.919360  0.533847 -0.210728  0.547569

# Southern 2023 Predictions

In [37]:
socon = pd.read_csv('../input/ncaa-tourney-training-data/SouthernConfData.csv')
soconTeams = socon.iloc[:,0]
soconTeams

0                Furman
1           Chattanooga
2               Wofford
3               Samford
4                   VMI
5      Western Carolina
6           The Citadel
7                Mercer
8    East Tennessee St.
9        UNC Greensboro
Name: Team, dtype: object

In [38]:
socon = socon.drop(columns = ['Team', 'Yr']);

In [39]:
soconBay = bay.predict(socon)
soconLars = lars.predict(socon)
soconKnn = knn.predict(socon)
soconReg = reg.predict(socon)
tablesocon = pd.DataFrame({'teams':soconTeams, 'Bay':soconBay, 'Lars':soconLars, 'KNN':soconKnn, 'Linear':soconReg})
tablesocon

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

                teams       Bay      Lars       KNN    Linear
0              Furman  2.661907  0.434118  0.472779  0.236924
1         Chattanooga -2.531227 -1.199767  0.160067 -1.032244
2             Wofford -2.442941  1.152142  0.091166  1.163916
3             Samford -0.855948 -1.958497 -0.047672 -2.074874
4                 VMI -8.690923 -2.233997 -0.070592 -2.049494
5    Western Carolina -5.143091  0.272811 -0.151795  0.289766
6         The Citadel -7.473114 -1.060183 -0.019448 -1.049133
7              Mercer -5.092381 -0.951750 -0.227768 -0.986467
8  East Tennessee St. -4.546378 -0.387761 -0.290429 -0.354796
9      UNC Greensboro -0.857408 -2.315497 -0.092701 -2.379917

# Colonial 2023 Predictions

In [40]:
caa = pd.read_csv('../input/ncaa-tourney-training-data/ColonialConfData.csv')
caaTeams = caa.iloc[:,0]
caaTeams

0              Northeastern
1                    Towson
2            UNC Wilmington
3     College of Charleston
4                      Elon
5               Stony Brook
6                    Drexel
7        North Carolina A&T
8                   Hofstra
9                  Delaware
10                 Monmouth
11                  Hampton
12           William & Mary
Name: Team, dtype: object

In [41]:
caa = caa.drop(columns = ['Team', 'Yr']);

In [42]:
caaBay = bay.predict(caa)
caaLars = lars.predict(caa)
caaKnn = knn.predict(caa)
caaReg = reg.predict(caa)
tablecaa = pd.DataFrame({'teams':caaTeams, 'Bay':caaBay, 'Lars':caaLars, 'KNN':caaKnn, 'Linear':caaReg})
tablecaa

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

                    teams        Bay      Lars       KNN    Linear
0            Northeastern  -6.289396  1.105674 -0.257496  1.203720
1                  Towson   0.243648 -1.175742  0.093811 -1.269234
2          UNC Wilmington  -2.078673  2.397494  0.250543  2.363702
3   College of Charleston   4.084347  0.615977  1.991346  0.535661
4                    Elon  -7.680888 -2.133236 -0.048970 -2.199792
5             Stony Brook  -8.755252 -2.592651 -0.238205 -2.666170
6                  Drexel  -3.248016 -0.848643 -0.318412 -0.744313
7      North Carolina A&T  -6.541852 -0.355076 -0.034023 -0.348707
8                 Hofstra   2.511130 -0.549051  0.795984 -0.621100
9                Delaware  -4.073842 -0.626566 -0.083550 -0.571598
10               Monmouth -10.537534 -4.553312 -0.377304 -4.555263
11                Hampton  -9.529562 -4.342753 -0.039188 -4.331118
12         William & Mary  -5.676647  0.570621 -0.037123  0.495297

# Summit League 2023 Predictions

In [43]:
summit = pd.read_csv('../input/ncaa-tourney-training-data/SumConfData.csv')
summitTeams = summit.iloc[:,0]
summitTeams

0              Denver
1                UMKC
2        Oral Roberts
3    Western Illinois
4      Nebraska Omaha
5        South Dakota
6          St. Thomas
7        North Dakota
8    South Dakota St.
9    North Dakota St.
Name: Team, dtype: object

In [44]:
summit = summit.drop(columns = ['Team', 'Yr']);

In [45]:
summitBay = bay.predict(summit)
summitLars = lars.predict(summit)
summitKnn = knn.predict(summit)
summitReg = reg.predict(summit)
tablesummit = pd.DataFrame({'teams':summitTeams, 'Bay':summitBay, 'Lars':summitLars, 'KNN':summitKnn, 'Linear':summitReg})
tablesummit

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

              teams       Bay      Lars       KNN    Linear
0            Denver -4.939178  0.604064 -0.269743  0.744898
1              UMKC -7.538404 -2.011280 -0.075568 -1.980626
2      Oral Roberts  3.581017 -0.576578  0.815247 -0.739893
3  Western Illinois -4.526608  0.937683 -0.028382  0.795851
4    Nebraska Omaha -7.791016 -1.502909 -0.028275 -1.601298
5      South Dakota -5.905962  0.648035  0.009359  0.711075
6        St. Thomas -2.260107  0.160398  0.198190  0.166156
7      North Dakota -5.767148  0.238696 -0.013621  0.286747
8  South Dakota St. -1.585549  1.853638  0.150479  1.858832
9  North Dakota St. -4.294014 -0.971199  0.042282 -0.966467

# American East 2023 Predictions

In [46]:
ameast = pd.read_csv('../input/ncaa-tourney-training-data/AmEastConfData.csv')
ameastTeams = ameast.iloc[:,0]
ameastTeams

0            Maine
1             NJIT
2             UMBC
3     UMass Lowell
4    New Hampshire
5          Vermont
6           Albany
7           Bryant
8       Binghamton
Name: Team, dtype: object

In [47]:
ameast = ameast.drop(columns = ['Team', 'Yr']);

In [48]:
ameastBay = bay.predict(ameast)
ameastLars = lars.predict(ameast)
ameastKnn = knn.predict(ameast)
ameastReg = reg.predict(ameast)
tableameast = pd.DataFrame({'teams':ameastTeams, 'Bay':ameastBay, 'Lars':ameastLars, 'KNN':ameastKnn, 'Linear':ameastReg})
tableameast

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

           teams       Bay      Lars       KNN    Linear
0          Maine -4.545401  3.199861  0.012832  3.203718
1           NJIT -7.909765 -1.419875 -0.076236 -1.519010
2           UMBC -2.975646  0.127112  0.143777  0.078732
3   UMass Lowell  1.290963  0.071666  0.432874  0.156800
4  New Hampshire -5.686340  1.556602 -0.097206  1.549406
5        Vermont -0.372243 -1.812842  0.511176 -1.850445
6         Albany -8.892165 -3.147398 -0.093932 -3.165698
7         Bryant -2.700233  0.506686 -0.096864  0.477125
8     Binghamton -5.969770  1.014785 -0.074426  1.078599

# Big Sky 2023 Predictions

In [49]:
bsky = pd.read_csv('../input/ncaa-tourney-training-data/BSkyConfData.csv')
bskyTeams = bsky.iloc[:,0]
bskyTeams

0          Portland St.
1             Weber St.
2      Northern Arizona
3           Montana St.
4    Eastern Washington
5             Idaho St.
6                 Idaho
7     Northern Colorado
8               Montana
9        Sacramento St.
Name: Team, dtype: object

In [50]:
bsky = bsky.drop(columns = ['Team', 'Yr']);

In [51]:
bskyBay = bay.predict(bsky)
bskyLars = lars.predict(bsky)
bskyKnn = knn.predict(bsky)
bskyReg = reg.predict(bsky)
tablebsky = pd.DataFrame({'teams':bskyTeams, 'Bay':bskyBay, 'Lars':bskyLars, 'KNN':bskyKnn, 'Linear':bskyReg})
tablebsky

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

                teams       Bay      Lars       KNN    Linear
0        Portland St. -5.513166  1.348368  0.278080  1.380859
1           Weber St. -4.678903  0.841792 -0.037414  0.799888
2    Northern Arizona -5.642832  0.330130  0.009463  0.335551
3         Montana St. -1.434138 -2.534417  0.004847 -2.426607
4  Eastern Washington  1.227788  0.602602  0.087976  0.547538
5           Idaho St. -5.495171 -0.862720 -0.026823 -0.935908
6               Idaho -7.876632 -2.418510 -0.018482 -2.325823
7   Northern Colorado -4.246197  0.237072  0.062094  0.183601
8             Montana -1.582655  0.583425  0.564610  0.554600
9      Sacramento St. -4.075184  1.347171 -0.219419  1.382015

# Southland 2023 Predictions

In [52]:
sland = pd.read_csv('../input/ncaa-tourney-training-data/SLandConfData.csv')
slandTeams = sland.iloc[:,0]
slandTeams

0            Incarnate Word
1        Texas A&M Commerce
2               New Orleans
3                     Lamar
4    Southeastern Louisiana
5    Texas A&M Corpus Chris
6         Houston Christian
7               McNeese St.
8          Northwestern St.
9              Nicholls St.
Name: Team, dtype: object

In [53]:
sland = sland.drop(columns = ['Team', 'Yr']);

In [54]:
slandBay = bay.predict(sland)
slandLars = lars.predict(sland)
slandKnn = knn.predict(sland)
slandReg = reg.predict(sland)
tablesland = pd.DataFrame({'teams':slandTeams, 'Bay':slandBay, 'Lars':slandLars, 'KNN':slandKnn, 'Linear':slandReg})
tablesland

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

                    teams       Bay      Lars       KNN    Linear
0          Incarnate Word -7.297412 -0.027078 -0.048143 -0.100921
1      Texas A&M Commerce -5.664664 -0.354058 -0.005733 -0.588155
2             New Orleans -6.269377  0.517154 -0.124662  0.354107
3                   Lamar -8.471138 -4.151979 -0.342076 -4.110780
4  Southeastern Louisiana -3.637180  0.604322  0.119180  0.464226
5  Texas A&M Corpus Chris -1.285762  3.656644  0.332563  3.739574
6       Houston Christian -7.680100 -3.374055 -0.032748 -3.359596
7             McNeese St. -7.235252 -1.501857 -0.098599 -1.596910
8        Northwestern St. -0.333248  2.874979  0.386542  2.830873
9            Nicholls St. -3.875526  3.557551  0.325091  3.551789

# WAC 2023 Predictions

In [55]:
wac = pd.read_csv('../input/ncaa-tourney-training-data/WAConfData.csv')
wacTeams = wac.iloc[:,0]
wacTeams

0                  Seattle
1        Abilene Christian
2          Sam Houston St.
3                Utah Tech
4     UT Rio Grande Valley
5              Cal Baptist
6             Grand Canyon
7             Tarleton St.
8              Utah Valley
9            Southern Utah
10       Stephen F. Austin
11            UT Arlington
Name: Team, dtype: object

In [56]:
wac = wac.drop(columns = ['Team', 'Yr']);

In [57]:
wacBay = bay.predict(wac)
wacLars = lars.predict(wac)
wacKnn = knn.predict(wac)
wacReg = reg.predict(wac)
tablewac = pd.DataFrame({'teams':wacTeams, 'Bay':wacBay, 'Lars':wacLars, 'KNN':wacKnn, 'Linear':wacReg})
tablewac

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

                   teams       Bay      Lars       KNN    Linear
0                Seattle -2.721140  0.045966  0.200471  0.102914
1      Abilene Christian -3.928783  2.346679  0.352393  2.333016
2        Sam Houston St.  1.675144  1.193624  0.988258  1.116983
3              Utah Tech -3.424243 -2.314781 -0.144317 -2.242984
4   UT Rio Grande Valley -5.241025  0.165884 -0.293412  0.178793
5            Cal Baptist -2.618760 -1.107454 -0.252558 -1.147442
6           Grand Canyon -0.388915 -1.851008  0.275603 -1.830486
7           Tarleton St. -4.111202 -2.468656  0.544615 -2.628013
8            Utah Valley  0.826834 -2.927933  0.978960 -2.872215
9          Southern Utah -0.936309 -1.109340 -0.059477 -1.065636
10     Stephen F. Austin -0.918358  0.314659  0.203851  0.119389
11          UT Arlington -5.795305  0.034609  0.044885  0.031861

# ACC 2023 Predictions

In [58]:
acc = pd.read_csv('../input/ncaa-tourney-training-data/ACConfData.csv')
accTeams = acc.iloc[:,0]
accTeams

0     North Carolina St.
1            Wake Forest
2         Boston College
3           Georgia Tech
4             Louisville
5             Notre Dame
6                   Duke
7               Virginia
8                Clemson
9            Florida St.
10        North Carolina
11              Miami FL
12            Pittsburgh
13              Syracuse
14         Virginia Tech
Name: Team, dtype: object

In [59]:
acc = acc.drop(columns = ['Team', 'Yr']);

In [60]:
accBay = bay.predict(acc)
accLars = lars.predict(acc)
accKnn = knn.predict(acc)
accReg = reg.predict(acc)
tableacc = pd.DataFrame({'teams':accTeams, 'Bay':accBay, 'Lars':accLars, 'KNN':accKnn, 'Linear':accReg})
tableacc

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

                 teams       Bay      Lars       KNN    Linear
0   North Carolina St.  3.333470 -0.240952  0.895531 -0.324427
1          Wake Forest  0.850318 -1.662050  0.615222 -1.701610
2       Boston College -3.097697 -0.675260 -0.100055 -0.706616
3         Georgia Tech -2.546201 -0.788525  0.521776 -0.843211
4           Louisville -7.378780 -0.141180 -0.054372 -0.122971
5           Notre Dame -3.373878 -2.750940  0.302086 -2.765583
6                 Duke  3.812376  0.887699  1.654105  0.900380
7             Virginia  2.492536 -0.829987  2.884232 -0.929585
8              Clemson  1.609447 -1.598944  1.116804 -1.658517
9          Florida St. -5.148660 -2.140871  0.008981 -2.236263
10      North Carolina  0.304890 -2.489942  0.681682 -2.442512
11            Miami FL  5.593221  4.162729  1.092021  4.143416
12          Pittsburgh  2.278409 -1.758528  0.611781 -1.787603
13            Syracuse  0.042905 -1.974879  0.234520 -2.135947
14       Virginia Tech  1.857755 -1.549665  0.873514 -1.604732

# Big West 2023 Predictions

In [61]:
bwest = pd.read_csv('../input/ncaa-tourney-training-data/BWestConfData.csv')
bwestTeams = bwest.iloc[:,0]
bwestTeams

0        UC Santa Barbara
1               UC Irvine
2      Cal St. Northridge
3                  Hawaii
4                UC Davis
5                Cal Poly
6          Long Beach St.
7            UC San Diego
8       Cal St. Fullerton
9            UC Riverside
10    Cal St. Bakersfield
Name: Team, dtype: object

In [62]:
bwest = bwest.drop(columns = ['Team', 'Yr']);

In [63]:
bwestBay = bay.predict(bwest)
bwestLars = lars.predict(bwest)
bwestKnn = knn.predict(bwest)
bwestReg = reg.predict(bwest)
tablebwest = pd.DataFrame({'teams':bwestTeams, 'Bay':bwestBay, 'Lars':bwestLars, 'KNN':bwestKnn, 'Linear':bwestReg})
tablebwest

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

                  teams        Bay      Lars       KNN    Linear
0      UC Santa Barbara   1.209523  1.352633  0.094488  1.521798
1             UC Irvine  -0.016966 -2.123334  0.201000 -2.160881
2    Cal St. Northridge  -9.688032 -3.106225 -0.323229 -3.147241
3                Hawaii  -1.454625 -1.920789 -0.063947 -1.938157
4              UC Davis  -2.295621  0.111079 -0.100043  0.294574
5              Cal Poly -10.041047 -0.531550  0.012247 -0.460477
6        Long Beach St.  -1.952927 -2.357455 -0.205352 -2.190985
7          UC San Diego  -5.676411 -1.374641  0.008753 -1.323694
8     Cal St. Fullerton  -1.527924 -1.017917  0.370044 -0.950750
9          UC Riverside  -1.007359  2.530175  0.447168  2.583774
10  Cal St. Bakersfield  -7.785808  0.974600  0.433206  0.858114

# A-10 2023 Predictions

In [64]:
aten = pd.read_csv('../input/ncaa-tourney-training-data/A10ConfData.csv')
atenTeams = aten.iloc[:,0]
atenTeams

0              Richmond
1              Davidson
2        Loyola Chicago
3              La Salle
4        Saint Joseph's
5           Saint Louis
6       St. Bonaventure
7         Massachusetts
8          Rhode Island
9              Duquesne
10                  VCU
11    George Washington
12               Dayton
13         George Mason
14              Fordham
Name: Team, dtype: object

In [65]:
aten = aten.drop(columns = ['Team', 'Yr']);

In [66]:
atenBay = bay.predict(aten)
atenLars = lars.predict(aten)
atenKnn = knn.predict(aten)
atenReg = reg.predict(aten)
tableaten = pd.DataFrame({'teams':atenTeams, 'Bay':atenBay, 'Lars':atenLars, 'KNN':atenKnn, 'Linear':atenReg})
tableaten

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

                teams       Bay      Lars       KNN    Linear
0            Richmond -4.073989 -1.368056  0.001390 -1.432351
1            Davidson -2.105434 -2.552819  0.043792 -2.574917
2      Loyola Chicago -4.830498  0.635819  0.018330  0.601123
3            La Salle -3.864914  0.466056 -0.018827  0.488780
4      Saint Joseph's -3.083249 -1.096153 -0.099473 -1.179427
5         Saint Louis  0.284247 -2.135524  0.091874 -2.160513
6     St. Bonaventure -3.306329  1.267989  0.576285  1.351726
7       Massachusetts -2.967241  0.656395 -0.243217  0.582861
8        Rhode Island -6.554566 -1.211598 -0.370103 -1.155757
9            Duquesne  0.906599 -0.030632  0.056101  0.066244
10                VCU  1.372234 -0.401241  0.697216 -0.351397
11  George Washington -2.505461 -1.986237  0.031064 -2.020025
12             Dayton  1.627888 -2.784586  0.372310 -2.804695
13       George Mason -1.761148 -0.080888 -0.002335 -0.094894
14            Fordham -1.398648  1.366908  0.046093  1.508093

# MAAC 2023 Predictions

In [67]:
maac = pd.read_csv('../input/ncaa-tourney-training-data/MAAConfData.csv')
maacTeams = maac.iloc[:,0]
maacTeams

0             Canisius
1               Marist
2                Rider
3        Saint Peter's
4                 Iona
5              Niagara
6                Siena
7     Mount St. Mary's
8           Quinnipiac
9            Fairfield
10           Manhattan
Name: Team, dtype: object

In [68]:
maac = maac.drop(columns = ['Team', 'Yr']);

In [69]:
maacBay = bay.predict(maac)
maacLars = lars.predict(maac)
maacKnn = knn.predict(maac)
maacReg = reg.predict(maac)
tablemaac = pd.DataFrame({'teams':maacTeams, 'Bay':maacBay, 'Lars':maacLars, 'KNN':maacKnn, 'Linear':maacReg})
tablemaac

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

               teams       Bay      Lars       KNN    Linear
0           Canisius -5.024052  0.189745 -0.013683  0.249874
1             Marist -7.342157 -2.243383 -0.096998 -2.275354
2              Rider -2.903243 -2.009342  0.347956 -2.221214
3      Saint Peter's -6.763042  0.672123  0.399538  0.711455
4               Iona  3.094711 -0.633556  0.467284 -0.750732
5            Niagara -5.038294  1.596898 -0.032815  1.766651
6              Siena -3.569298  0.725220 -0.098536  0.736912
7   Mount St. Mary's -5.371874  1.067431 -0.093078  0.982821
8         Quinnipiac -1.182122 -0.086867 -0.060361 -0.107305
9          Fairfield -5.486526 -1.546363 -0.424449 -1.737348
10         Manhattan -5.769825  0.528233 -0.044365  0.501423

# MEAC 2023 Predictions

In [70]:
meac = pd.read_csv('../input/ncaa-tourney-training-data/MEAConfData.csv')
meacTeams = meac.iloc[:,0]
meacTeams

0                    Howard
1               Norfolk St.
2    Maryland Eastern Shore
3              Delaware St.
4        South Carolina St.
5    North Carolina Central
6                Coppin St.
7                Morgan St.
Name: Team, dtype: object

In [71]:
meac = meac.drop(columns = ['Team', 'Yr']);

In [72]:
meacBay = bay.predict(meac)
meacLars = lars.predict(meac)
meacKnn = knn.predict(meac)
meacReg = reg.predict(meac)
tablemeac = pd.DataFrame({'teams':meacTeams, 'Bay':meacBay, 'Lars':meacLars, 'KNN':meacKnn, 'Linear':meacReg})
tablemeac

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

                    teams       Bay      Lars       KNN    Linear
0                  Howard -1.725681  3.666427 -0.098269  3.624571
1             Norfolk St. -1.339837 -0.500793 -0.144648 -0.682500
2  Maryland Eastern Shore -4.380859  5.896093 -0.198013  5.936991
3            Delaware St. -9.794389 -4.419419 -0.287636 -4.620818
4      South Carolina St. -8.348314 -2.121349 -0.128267 -2.134997
5  North Carolina Central -1.828006  1.879462  0.060164  1.898230
6              Coppin St. -7.979702 -2.366384 -0.020656 -2.352539
7              Morgan St. -5.233542  3.502208  0.017897  3.261670

# C-USA 2023 Predictions

In [73]:
cusa = pd.read_csv('../input/ncaa-tourney-training-data/CUSAConfData.csv')
cusaTeams = cusa.iloc[:,0]
cusaTeams

0                  UAB
1                  FIU
2            Charlotte
3     Florida Atlantic
4                 Rice
5          North Texas
6                 UTSA
7                 UTEP
8     Middle Tennessee
9       Louisiana Tech
10    Western Kentucky
Name: Team, dtype: object

In [74]:
cusa = cusa.drop(columns = ['Team', 'Yr']);

In [75]:
cusaBay = bay.predict(cusa)
cusaLars = lars.predict(cusa)
cusaKnn = knn.predict(cusa)
cusaReg = reg.predict(cusa)
tablecusa = pd.DataFrame({'teams':cusaTeams, 'Bay':cusaBay, 'Lars':cusaLars, 'KNN':cusaKnn, 'Linear':cusaReg})
tablecusa

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

               teams       Bay      Lars       KNN    Linear
0                UAB  3.031157 -0.274106  0.888963 -0.361930
1                FIU -2.803827  0.327016  0.029811  0.254420
2          Charlotte -0.664785 -1.420556  0.197728 -1.468241
3   Florida Atlantic  4.687314  2.224932  2.851717  2.322361
4               Rice -3.041355  1.657073  0.175821  1.666531
5        North Texas  2.897929  0.847135  0.995539  0.871210
6               UTSA -6.786009 -1.590594 -0.050960 -1.538752
7               UTEP -3.914529  0.871074  0.059955  1.057768
8   Middle Tennessee -0.763719  0.301221  0.398602  0.330886
9     Louisiana Tech -2.899645 -0.876299  0.500977 -1.040361
10  Western Kentucky -3.224977 -2.887169  0.138250 -3.106881

# Big 12 2023 Predictions

In [76]:
big12 = pd.read_csv('../input/ncaa-tourney-training-data/B12ConfData.csv')
big12Teams = big12.iloc[:,0]
big12Teams

0           Baylor
1            Texas
2    West Virginia
3     Oklahoma St.
4         Oklahoma
5       Kansas St.
6           Kansas
7              TCU
8         Iowa St.
9       Texas Tech
Name: Team, dtype: object

In [77]:
big12 = big12.drop(columns = ['Team', 'Yr']);

In [78]:
big12Bay = bay.predict(big12)
big12Lars = lars.predict(big12)
big12Knn = knn.predict(big12)
big12Reg = reg.predict(big12)
tablebig12 = pd.DataFrame({'teams':big12Teams, 'Bay':big12Bay, 'Lars':big12Lars, 'KNN':big12Knn, 'Linear':big12Reg})
tablebig12

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

           teams       Bay      Lars       KNN    Linear
0         Baylor  6.399942  8.530604  2.175958  8.600135
1          Texas  5.385636  6.877711  3.792046  6.912590
2  West Virginia  3.293622  2.923640  1.226087  2.935718
3   Oklahoma St.  1.593264 -0.752772  0.541683 -0.801267
4       Oklahoma  0.809237 -1.092527  1.129723 -1.181370
5     Kansas St.  4.094196  4.752788  1.972653  4.782810
6         Kansas  5.611821  5.958347  7.739459  5.942625
7            TCU  3.279410  0.967675  1.386434  1.118505
8       Iowa St.  2.986906  2.999138  1.399574  2.988663
9     Texas Tech  1.775274 -1.371607  1.440007 -1.414319

# Big East 2023 Predictions

In [79]:
bigeast = pd.read_csv('../input/ncaa-tourney-training-data/BEastConfData.csv')
bigeastTeams = bigeast.iloc[:,0]
bigeastTeams

0          Xavier
1       Villanova
2       Marquette
3      Providence
4       Creighton
5          DePaul
6      St. John's
7          Butler
8      Seton Hall
9      Georgetown
10    Connecticut
Name: Team, dtype: object

In [80]:
bigeast = bigeast.drop(columns = ['Team', 'Yr']);

In [81]:
bigeastBay = bay.predict(bigeast)
bigeastLars = lars.predict(bigeast)
bigeastKnn = knn.predict(bigeast)
bigeastReg = reg.predict(bigeast)
tablebigeast = pd.DataFrame({'teams':bigeastTeams, 'Bay':bigeastBay, 'Lars':bigeastLars, 'KNN':bigeastKnn, 'Linear':bigeastReg})
tablebigeast

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

          teams       Bay      Lars       KNN    Linear
0        Xavier  5.519742  4.896769  0.892171  4.869509
1     Villanova  0.144168 -2.176073  1.566307 -2.266193
2     Marquette  6.740295  7.461711  2.779763  7.365959
3    Providence  3.116664 -0.671141  1.932585 -0.746173
4     Creighton  3.517302  4.242063  3.010684  4.376446
5        DePaul -3.681934 -1.139108  0.447826 -1.144810
6    St. John's  0.344242 -1.078435  0.756622 -1.087560
7        Butler -2.549101 -0.150566  0.185298 -0.207986
8    Seton Hall  0.244992 -2.105357  0.771169 -2.134188
9    Georgetown -5.570082 -4.415876 -0.073888 -4.476624
10  Connecticut  6.937489  9.218288  6.186270  9.270838

# Mountain West 2023 Predictions

In [82]:
mwc = pd.read_csv('../input/ncaa-tourney-training-data/MWConfData.csv')
mwcTeams = mwc.iloc[:,0]
mwcTeams

0          Utah St.
1        Fresno St.
2            Nevada
3           Wyoming
4     San Diego St.
5      Colorado St.
6        New Mexico
7      San Jose St.
8         Air Force
9              UNLV
10        Boise St.
Name: Team, dtype: object

In [83]:
mwc = mwc.drop(columns = ['Team', 'Yr']);

In [84]:
mwcBay = bay.predict(mwc)
mwcLars = lars.predict(mwc)
mwcKnn = knn.predict(mwc)
mwcReg = reg.predict(mwc)
tablemwc = pd.DataFrame({'teams':mwcTeams, 'Bay':mwcBay, 'Lars':mwcLars, 'KNN':mwcKnn, 'Linear':mwcReg})
tablemwc

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

            teams       Bay      Lars       KNN    Linear
0        Utah St.  4.165058  2.947833  0.709632  3.075912
1      Fresno St. -3.527002 -3.857800  0.192321 -3.931024
2          Nevada  0.815326 -1.127634  0.616451 -1.148376
3         Wyoming -4.017059 -3.044540  0.141810 -3.094416
4   San Diego St.  5.164985  9.495502  2.758658  9.652961
5    Colorado St. -1.100202 -2.820364  0.612558 -2.970456
6      New Mexico  2.635874  0.793212  0.583172  0.750576
7    San Jose St.  0.476210 -1.101359  1.323361 -1.100977
8       Air Force -1.734374 -1.928240  0.048882 -2.187235
9            UNLV -0.064979 -0.302709  0.518204 -0.342684
10      Boise St.  2.799470  1.153497  0.699216  1.156531

# Pac 12 2023 Predictions

In [85]:
pac12 = pd.read_csv('../input/ncaa-tourney-training-data/P12ConfData.csv')
pac12Teams = pac12.iloc[:,0]
pac12Teams

0            Arizona
1               UCLA
2           Colorado
3         Washington
4             Oregon
5         California
6        Arizona St.
7         Oregon St.
8     Washington St.
9                USC
10              Utah
11          Stanford
Name: Team, dtype: object

In [86]:
pac12 =pac12.drop(columns = ['Team', 'Yr']);

In [87]:
pac12Bay = bay.predict(pac12)
pac12Lars = lars.predict(pac12)
pac12Knn = knn.predict(pac12)
pac12Reg = reg.predict(pac12)
tablepac12 = pd.DataFrame({'teams':pac12Teams, 'Bay':pac12Bay, 'Lars':pac12Lars, 'KNN':pac12Knn, 'Linear':pac12Reg})
tablepac12

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

             teams       Bay       Lars       KNN     Linear
0          Arizona  6.580191   7.327284  6.463734   7.339270
1             UCLA  7.278720  10.276054  5.657044  10.253317
2         Colorado -0.555760  -2.152473  0.354283  -2.086329
3       Washington -0.911809  -1.490082 -0.008758  -1.499441
4           Oregon  2.193071  -2.396769  1.807350  -2.479893
5       California -8.915952  -1.207396 -0.324733  -1.235075
6      Arizona St.  0.724298  -3.490755  0.484787  -3.589905
7       Oregon St. -5.700196   0.515655  0.053396   0.501846
8   Washington St.  1.226091  -0.681170  1.579419  -0.599953
9              USC  3.067669  -0.492254  1.157756  -0.524532
10            Utah  0.647059  -3.274734  0.676614  -3.310435
11        Stanford  0.301540  -2.704772  0.977084  -2.767148

# SWAC 2023 Predictions

In [88]:
swac = pd.read_csv('../input/ncaa-tourney-training-data/SWAConfData.csv')
swacTeams = swac.iloc[:,0]
swacTeams

0        Arkansas Pine Bluff
1     Mississippi Valley St.
2                Jackson St.
3            Bethune Cookman
4           Prairie View A&M
5                 Alcorn St.
6              Grambling St.
7             Texas Southern
8                Alabama A&M
9                Florida A&M
10                  Southern
11               Alabama St.
Name: Team, dtype: object

In [89]:
swac = swac.drop(columns = ['Team', 'Yr']);

In [90]:
swacBay = bay.predict(swac)
swacLars = lars.predict(swac)
swacKnn = knn.predict(swac)
swacReg = reg.predict(swac)
tableswac = pd.DataFrame({'teams':swacTeams, 'Bay':swacBay, 'Lars':swacLars, 'KNN':swacKnn, 'Linear':swacReg})
tableswac

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

                     teams        Bay      Lars       KNN    Linear
0      Arkansas Pine Bluff  -8.583165  0.606716 -0.362548  0.708094
1   Mississippi Valley St. -10.642589 -5.087503 -0.372233 -5.367990
2              Jackson St.  -5.548667  2.522217 -0.302768  2.561486
3          Bethune Cookman  -7.771314 -2.701439 -0.083649 -2.888474
4         Prairie View A&M  -6.674300  1.133555  0.104273  1.179369
5               Alcorn St.  -3.300556  3.450589  0.061761  3.574861
6            Grambling St.  -1.698902  0.795686  0.551694  0.662805
7           Texas Southern  -7.688776  0.079499 -0.289643  0.272986
8              Alabama A&M  -6.296672  0.869104 -0.317627  0.753870
9              Florida A&M  -9.962614 -2.002623 -0.038978 -2.021246
10                Southern  -5.857285  3.742432 -0.206545  3.807762
11             Alabama St.  -9.515299 -5.327380 -0.330402 -5.392431

# SEC 2023 Predictions

In [91]:
sec = pd.read_csv('../input/ncaa-tourney-training-data/SEConfData.csv')
secTeams = sec.iloc[:,0]
secTeams

0                 LSU
1          Vanderbilt
2           Texas A&M
3           Tennessee
4         Mississippi
5              Auburn
6      South Carolina
7            Kentucky
8             Alabama
9             Florida
10            Georgia
11    Mississippi St.
12           Missouri
13           Arkansas
Name: Team, dtype: object

In [92]:
sec = sec.drop(columns = ['Team', 'Yr']);

In [93]:
secBay = bay.predict(sec)
secLars = lars.predict(sec)
secKnn = knn.predict(sec)
secReg = reg.predict(sec)
tablesec = pd.DataFrame({'teams':secTeams, 'Bay':secBay, 'Lars':secLars, 'KNN':secKnn, 'Linear':secReg})
tablesec

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

              teams       Bay      Lars       KNN    Linear
0               LSU -2.638465 -0.210358  0.275263 -0.181468
1        Vanderbilt  1.742814 -0.824087  1.613990 -0.814808
2         Texas A&M  3.629411  2.143390  1.974282  2.126297
3         Tennessee  5.694566  7.597029  3.660133  7.672557
4       Mississippi -2.321009 -4.133417  0.090160 -4.081962
5            Auburn  3.161850  1.597849  0.837598  1.606130
6    South Carolina -3.701382  1.759004  0.095295  1.786306
7          Kentucky  4.434977  2.200894  1.802052  2.076750
8           Alabama  6.502344  9.574921  7.028659  9.532464
9           Florida -0.843753 -3.959651  0.065449 -3.951277
10          Georgia -2.603066 -0.207900 -0.137778 -0.167050
11  Mississippi St.  1.350984 -1.650019  0.865364 -1.630379
12         Missouri  5.143061  2.398581  2.095065  2.232516
13         Arkansas  2.335259  0.831791  1.355088  0.969785

# Big Ten 2023 Predictions

In [94]:
bigten = pd.read_csv('../input/ncaa-tourney-training-data/B10ConfData.csv')
bigtenTeams = bigten.iloc[:,0]
bigtenTeams

0          Indiana
1         Maryland
2         Penn St.
3         Nebraska
4        Minnesota
5         Illinois
6         Michigan
7     Northwestern
8        Wisconsin
9     Michigan St.
10            Iowa
11        Ohio St.
12          Purdue
13         Rutgers
Name: Team, dtype: object

In [95]:
bigten = bigten.drop(columns = ['Team', 'Yr']);

In [96]:
bigtenBay = bay.predict(bigten)
bigtenLars = lars.predict(bigten)
bigtenKnn = knn.predict(bigten)
bigtenReg = reg.predict(bigten)
tablebigten = pd.DataFrame({'teams':bigtenTeams, 'Bay':bigtenBay, 'Lars':bigtenLars, 'KNN':bigtenKnn, 'Linear':bigtenReg})
tablebigten

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

           teams       Bay      Lars       KNN    Linear
0        Indiana  3.526114  1.485047  0.744236  1.337631
1       Maryland  2.720838 -0.075720  1.576426 -0.119678
2       Penn St.  2.562481  1.834619  0.932578  1.937555
3       Nebraska -0.279175 -2.296194  0.511807 -2.392363
4      Minnesota -5.350405 -0.527115 -0.084986 -0.436406
5       Illinois  1.984994 -1.404162  1.207962 -1.430698
6       Michigan  0.980197 -1.717445  1.200102 -1.761608
7   Northwestern  1.699859  0.066619  0.481456  0.014292
8      Wisconsin -0.051649 -0.282191  0.579752 -0.231769
9   Michigan St.  3.199219  2.864280  1.669796  2.725189
10          Iowa  3.575655  0.688120  1.915665  0.667480
11      Ohio St.  1.338783 -3.265874  1.611895 -3.445845
12        Purdue  6.936441  8.412625  8.058787  8.402238
13       Rutgers  0.979540 -1.237461  0.503511 -1.183283

# MAC 2023 Predictions

In [97]:
mac = pd.read_csv('../input/ncaa-tourney-training-data/MAConfData.csv')
macTeams = mac.iloc[:,0]
macTeams

0                Toledo
1      Central Michigan
2                  Ohio
3     Northern Illinois
4              Kent St.
5                 Akron
6         Bowling Green
7               Buffalo
8      Eastern Michigan
9      Western Michigan
10             Ball St.
11             Miami OH
Name: Team, dtype: object

In [98]:
mac = mac.drop(columns = ['Team', 'Yr']);

In [99]:
macBay = bay.predict(mac)
macLars = lars.predict(mac)
macKnn = knn.predict(mac)
macReg = reg.predict(mac)
tablemac = pd.DataFrame({'teams':macTeams, 'Bay':macBay, 'Lars':macLars, 'KNN':macKnn, 'Linear':macReg})
tablemac

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

                teams       Bay      Lars       KNN    Linear
0              Toledo  4.280251  1.193052  0.494107  1.128437
1    Central Michigan -8.815486 -2.467639 -0.385019 -2.497969
2                Ohio -0.148298  0.461233  0.248627  0.443851
3   Northern Illinois -4.218376  0.329510  0.023328  0.289977
4            Kent St.  2.044115  0.278755  0.983261  0.279179
5               Akron -0.144877 -1.318327  0.841116 -1.312460
6       Bowling Green -5.818377 -1.200357 -0.040980 -1.210593
7             Buffalo -2.961971  0.224587  0.167318  0.272586
8    Eastern Michigan -7.368555 -0.386207 -0.028447 -0.257851
9    Western Michigan -7.315616 -3.030606 -0.044977 -3.082426
10           Ball St. -1.606364 -2.073100 -0.133147 -1.951291
11           Miami OH -5.234103 -0.494096 -0.018103 -0.579930

# Ivy League 2023 Predictions

In [100]:
ivy = pd.read_csv('../input/ncaa-tourney-training-data/IVYConfData.csv')
ivyTeams = ivy.iloc[:,0]
ivyTeams

0         Yale
1      Cornell
2         Penn
3    Princeton
Name: Team, dtype: object

In [101]:
ivy = ivy.drop(columns = ['Team', 'Yr']);

In [102]:
ivyBay = bay.predict(ivy)
ivyLars = lars.predict(ivy)
ivyKnn = knn.predict(ivy)
ivyReg = reg.predict(ivy)
tableivy = pd.DataFrame({'teams':ivyTeams, 'Bay':ivyBay, 'Lars':ivyLars, 'KNN':ivyKnn, 'Linear':ivyReg})
tableivy

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

       teams       Bay      Lars       KNN    Linear
0       Yale  1.208750 -1.984678  0.971350 -2.024944
1    Cornell  0.863721  2.035581  0.598873  1.830035
2       Penn -0.049864 -1.139125  0.196843 -1.167022
3  Princeton -0.417118 -1.393906  0.331776 -1.426341

# American 2023 Predictions

In [103]:
amer = pd.read_csv('../input/ncaa-tourney-training-data/AMERConfData.csv')
amerTeams = amer.iloc[:,0]
amerTeams

0            Tulane
1               SMU
2           Memphis
3     East Carolina
4               UCF
5             Tulsa
6            Temple
7           Houston
8        Cincinnati
9     South Florida
10      Wichita St.
Name: Team, dtype: object

In [104]:
amer = amer.drop(columns = ['Team', 'Yr']);

In [105]:
amerBay = bay.predict(amer)
amerLars = lars.predict(amer)
amerKnn = knn.predict(amer)
amerReg = reg.predict(amer)
tableamer = pd.DataFrame({'teams':amerTeams, 'Bay':amerBay, 'Lars':amerLars, 'KNN':amerKnn, 'Linear':amerReg})
tableamer

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but BayesianRidge was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LassoLars was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

            teams       Bay       Lars        KNN     Linear
0          Tulane -0.129942  -2.673573   0.243229  -2.759538
1             SMU -4.492093  -1.605325   0.164197  -1.575049
2         Memphis  4.509247   4.505702   1.444022   4.608859
3   East Carolina -3.567040  -0.854933  -0.251039  -0.866465
4             UCF  1.860307  -0.155239   0.865308  -0.062378
5           Tulsa -6.555677   1.756794  -0.074607   1.856420
6          Temple -1.173559  -2.391776   0.352659  -2.383438
7         Houston  9.635631  14.555806  13.463907  14.594813
8      Cincinnati  2.580510  -0.224152   1.372429  -0.198511
9   South Florida -1.864743  -2.287747   0.290082  -2.282075
10    Wichita St. -0.355947  -4.439409   0.574922  -4.547818